* {

    padding: 10px;
    list-style: none;

}

body {
    cursor: url("./Images/car-collision.png"), auto;
    background-color: white;
    font-family: 'Poppins', sans-serif;

}

 .logo-brandname{
     display: flex;
     align-items: center;
    
 }
 .logo-brandname:hover{
     cursor: pointer;
    color: rgb(247, 162, 174)
 }

input {
    display: none;
}

header {

    color: rgb(168, 162, 162);
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    box-shadow: lightgray 2px 2px 2px;
    height: 30px;
    align-items: center;
    background-color: beige;
    border-radius: 5px;

}


.fa-solid {
    display: none;
}

ul {

    display: flex;
}

li {
    margin-left: 20px;
}

li a:hover {
    color: rgb(247, 162, 174);

}

#logo-img {
    width: 200px;
}

main {
    display: flex;
    margin-top: 32px;
    margin-bottom: 33px;
    justify-content: center;
    padding-top: 43px;
    color: grey;

}

section img {
    width: 50%;
}

.left-side {

    background-color: lavender;
    width: 1296px;
    height: 1000%;
    border-radius: 11px;
    box-shadow: bisque 2px 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    /*align-content: center;*/

}

section div {


    margin: 23px;


}

h1 {
    text-align: center;
    color: grey;
}

.mobile-layout-container1 {
  
/*display: flex; */
/*flex-direction: column;*/
/*justify-content: center;*/
}

.mobile-layout-container1 p {
    display: flex;
    height: 40px;
    text-align: center;
    color: grey;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    width: 50%;
    margin:auto;
   
}

.mobile-layout-container1 #h1_bottom {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    width: 80%;
}

#h1_bottom {
    display: flex;
    justify-content: center;
}

.mobile-layout-container1 img {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17%;
    
}

.mobile-layout-container1 .Mobile_Img {
            display: none;
    }

.top {
    display: flex;
    align-items: center;
}

figure {
    margin-bottom: 22px
}

.mobile-layout-container1 #one {
    width: 32px;
    height: 32px;
}


.mobile-layout-container1 #two {
    width: 32px;
    height: 32px;
}


    .left-side h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }



    figure {
        text-align: left;
        display: flex;
        align-items: center;
        font-size: .9rem;
        line-height: 36px;
    }
    
    hr {
        padding: 0;
    }
    
    a {
        text-decoration: none;
        color: grey;
    }

    aside {
        text-align: center;
        display: flex;
        align-items: center;
        font-size: .9rem;
        flex-direction: column;

    }

    iframe {
        background-color: black;
        width: 85%;
        height: 340px;


    }


    .uber-awareness-img {
        width: 55%;
        border: 4px solid rgb(153, 151, 151);

    }

    /*b {*/
    /*    font-family: Arial, Helvetica, sans-serif;*/
    /*    color: rgb(112, 144, 175);*/

    /*}*/

    .questions-to-ask {

        width: 76%;
        height: 56px;
        background-color: bisque;
        text-align: center;
        border-radius: 9px;
        color: grey;
        margin-bottom: 44px;

    }

    .right-side {

        position: sticky;
        top: 0;
        height: 330px;
        color: grey;
        border-radius: 8px;

    }

    .right-side p {
        background-color: bisque;
        border-radius: 7px;
    }

    div p {
        min-width: 150px;

    }

    footer{
     color: rgb(168, 162, 162);
     margin: auto;
     width: 95%;
     display:flex;
     justify-content: space-between;
     flex-direction:row-reverse;
     box-shadow: lightgray 2px 2px 2px;
     height: 30px;
     align-items: center;
     background-color: beige;
     border-radius: 5px;
 }
 ol{
     display: flex;
     
 }
 ol li,span{
     cursor: pointer;
 }

 ol li:hover,span:hover{
    color: rgb(247, 162, 174);

    
}
footer span{
    font-size: .7rem;
    display: flex;
    align-items: center;
}


    @media (max-width:880px) {

   
        #logo-img {
            height: 100px;
            width: 100px;

        }
        

        /*main {*/
        /*    padding-top: 0;*/
        /*    flex-direction: column;*/

        /*}*/

        aside {
            flex-direction: column;
        }

        /*.left-side {*/

        /*    width: 100%;*/
        /*    margin: auto;*/
         
        /*}*/

        /*figure {*/
        /*    flex-direction: column;*/
        /*}*/


        /*.questions-to-ask {*/
        /*    margin: auto;*/
        /*}*/

        .mobile-layout-container1 {

            background-color: lavender;
            box-shadow: bisque 2px 2px 2px;
            border-radius: 8px;
            width: 100%;
        }

         
       

        .left-side {
            background-color: white;
            box-shadow: none;

        }

        .right-side {
            height: auto;


        }

        section img {
            width: 30%;
        }


    }


    @media (max-width:607px) {
        input:checked~ul {
            right: 0;

        }
        
        /*.left-side {*/
        /*    display: none;*/
        /*}*/
       
        
        input {
            display:inline;
            position: relative;
            bottom: 3px;
            left: 29px;
            opacity: 0;
        }

        header{
            width: 100%;
        }
        
         .mobile-layout-container1 .Desktop_Img {
            display: none;
        }
        
        .mobile-layout-container1 .Mobile_Img {
            width: 350px;
            height: 271px;
            margin-left: 7%;
            display: block;
        }
        
        .mobile-layout-container1 #h1_bottom {
            display: flex;
            margin-left: 7%;
            width: 343px;
            height: 94px;
        }

        ul {
            width: 65%;
            height: 100vh;
            position: fixed;
            top: 60px;
            right: -400px;
            flex-direction: column;
            z-index: 100;
            background-color: rgb(240, 255, 240);
            transition: all 0.2s ease-in;
            justify-content: center;
            border-radius: 7px;

        }

        ul li {
            width: 70%;
            text-align: center;
            color: rgb(80, 79, 79);

        }

        .fa-solid {
            display: initial;
        }

        
        
         ol li:nth-child(2),ol li:nth-child(3){
            display: none;
        }


    }
