*{
   
    padding: 10px;
    list-style: none;
    
 }
 body{
    cursor: url("./Images/car-collision.png"), auto;
    background-color: white;
   font-family: 'Poppins', sans-serif;
 
 }
 input{
     display: none;
 }
 header {
 
     color: rgb(168, 162, 162);
     margin: auto;
     width: 95%;
     display:flex;
     justify-content: space-between;
     box-shadow: lightgray 2px 2px 2px;
     height: 30px;
     align-items: center;
     background-color: beige;
     border-radius: 5px;
     
 }
 .fa-solid {
     display: none;
 }
 
 ul{
     
     display: flex;
 }
 
 li{
     margin-left: 20px;
 }
 a{
     text-decoration: none;
     color: rgb(168, 162, 162);
;
 }
 
 li a:hover{
     color: rgb(247, 162, 174);
     text-decoration: none
     
 }
 
 #logo-img{
     width:200px;
 }
 
 main{
     display: flex;
     margin-top: 32px;
     margin-bottom: 33px;
     justify-content: center;
     padding-top: 43px;
      color:grey;
 
 }
 section img{
     width: 50%;
 }
 .left-side{
    
     background-color: lavender;
     width: 70%;
     margin-left: 22px;
     border-radius: 19px;
     box-shadow:bisque 2px 2px 2px;
     margin-right: 55px;
     display: flex;
     flex-direction: column;
     align-items: center;
    
 }
 
 section div{
    
     margin: 23px;

 }
 
 h1{
     text-align: center;
     color: grey;
     text-decoration:underline;
 }
 figure {
 
    text-align: center;
    display: flex;
    align-items: center;
    font-size: .9rem;
 
 }
 
 figure p {
    
 text-align: left;
 
 
 }
 
 aside{
   
    text-align: center;
    display: flex;
    align-items: center;
    font-size: .9rem;
 
 }
 
 iframe{
    background-color: black;
     width: 85%;
     height: 340px;
    
 
 }
 
 
 .uber-awareness-img{
     width: 55%;
     border: 4px solid rgb(153, 151, 151);
 
 }
 b{ 
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(112, 144, 175);
    
 }
 
 .questions-to-ask{
     
     width: 76%;
     height: 56px;
     background-color: bisque;
     text-align: center;
     border-radius: 9px;
     color: grey;
     margin-bottom: 44px;
     
 }
 .right-side{
    
     position: sticky;
     top:0;
     height:330px;
     color: grey;
     border-radius: 8px;
 
 }
 .right-side p{
     background-color: bisque;
     border-radius: 7px;
 }
 
 div p{
     min-width: 150px;
   
 }
 
 footer{
     color: rgb(168, 162, 162);
     margin: auto;
     width: 95%;
     display:flex;
     justify-content: space-between;
     flex-direction:row-reverse;
     box-shadow: lightgray 2px 2px 2px;
     height: 30px;
     align-items: center;
     background-color: beige;
     border-radius: 5px;
 }
 ol{
     display: flex;
     
 }
 @media (max-width:880px){
      /*body{
          background-color: floralwhite;
      }*/
      #logo-img{
          height: 100px;
          width: 100px;
         
      }
      main{
          padding-top: 0;
         flex-direction: column;
          
     }
     aside{
         flex-direction: column;
     }
     .left-side{
        
         width: 100%;
          margin: auto;
 
    } 
    figure{
        flex-direction: column;
    }
   
 
    .questions-to-ask{
        margin: auto;
    }
    .mobile-layout-container1{
        
        background-color: lavender;
        box-shadow:bisque 2px 2px 2px;
        border-radius: 8px;
        width: 100%;
        
 
    }
    .left-side{
        background-color: white;
        box-shadow: none;
       
    }
    .right-side{
     height: auto;
     
     
    }
    section img{
        width: 30%;
    }
    
   
 }
 
 
 @media (max-width:607px){
     input:checked ~ ul{
         right: 0;
 
     }
     input{
        display: inline;
        position: relative;
        bottom: 3px;
        left: 29px;
        opacity: 0;
    }
     header{
         width: 100%;
     }
    
    ul{
         width: 65%;
         height: 100vh;
         position:fixed;
         top: 60px;
         right: -400px;
         /*left: 100%;*/
         flex-direction: column;
         z-index: 100;
         background-color:rgba(240, 255, 240, 0.747);
         transition: all 0.2s ease-in;
         justify-content: center;
         border-radius: 7px;
       
     }
     ul li{
         width: 70%;
         text-align: center;
         color: rgb(80, 79, 79);
            
     }
 
     .fa-solid{
         display: initial;
     }
     
    li:nthtype(2){
        display: none;
        
    }
     
 
 }